In [1]:
import pandas as pd
df = pd.read_csv("../Dataset/1000_popular_hindi_spotify.csv")
df.head()

,ID,Name,Popularity,Artists
0,4nc6XiUze2Yh7wFueGOPv7,"Chaleya (From ""Jawan"")",83.0,"Anirudh Ravichander, Arijit Singh, Shilpa Rao,..."
1,NaN,Rumah Ke Rumah,80.0,Hindia
2,7J0isBrUxhIYZVdrBOOlIh,Cincin,78.0,Hindia
3,2dIBMHByUGcNPzmYBJ6OAj,NaN,78.0,Hindia
4,5drW6PGRxkE6MxttzVLNk5,Secukupnya,NaN,Hindia

In [ ]:
x = df.head(15)
print(x)